absl-py==0.7.1
asn1crypto==0.24.0
astor==0.7.1
backcall==0.1.0
bleach==2.1.4
bpmn-python==0.0.18
certifi==2018.4.16
cffi==1.11.5
chardet==3.0.4
ciso8601==2.1.1
Click==7.0
colorama==0.3.9
conda==4.5.4
cryptography==2.2.2
cvxopt==1.2.3
cx-Oracle==7.1.0
cycler==0.10.0
dataclasses==0.6
decorator==4.3.0
defusedxml==0.5.0
entrypoints==0.2.3
et-xmlfile==1.0.1
Flask==1.0.2
Flask-Cors==3.0.7
gast==0.2.2
graphviz==0.10.1
grpcio==1.19.0
h5py==2.9.0
html5lib==1.0.1
idna==2.6
intel-openmp==2018.0.3
ipykernel==4.9.0
ipython==5.3.0
ipython-genutils==0.2.0
ipywidgets==7.4.2
itsdangerous==0.24
jdcal==1.4.1
jedi==0.12.1
Jinja2==2.10
joblib==0.13.2
jsonschema==2.6.0
jupyter==1.0.0
jupyter-client==5.2.3
jupyter-console==5.2.0
jupyter-core==4.4.0
Keras==2.2.4
Keras-Applications==1.0.7
Keras-Preprocessing==1.0.9
kiwisolver==1.0.1
lxml==4.3.3
Markdown==3.1
MarkupSafe==1.0
matplotlib==2.2.2
menuinst==1.4.14
mistune==0.8.3
mkl==2018.0.3
mock==2.0.0
nbconvert==5.4.0
nbformat==4.4.0
networkx==2.2
notebook==5.7.0
numpy==1.16.2
openpyxl==2.6.2
pandas==0.24.2
pandocfilters==1.4.2
parso==0.3.1
pbr==5.1.3
pickleshare==0.7.5
pipupgrade==1.3.0
pm4py==1.1.7
prometheus-client==0.3.1
prompt-toolkit==1.0.15
protobuf==3.7.1
PuLP==1.6.9
pyarrow==0.13.0
pycosat==0.6.3
pycparser==2.18
pydot==1.2.4
pydotplus==2.0.2
Pygments==2.2.0
pyOpenSSL==18.0.0
pyparsing==2.2.1
PySocks==1.6.8
python-dateutil==2.7.3
pytz==2018.9
pyvis==0.1.6.0
pywin32==223
pywinpty==0.5.4
PyYAML==5.1
pyzmq==17.1.2
qtconsole==4.4.1
requests==2.18.4
ruamel-yaml==0.15.37
scikit-learn==0.20.3
scipy==1.2.1
Send2Trash==1.5.0
simplegeneric==0.8.1
six==1.11.0
sklearn==0.0
tensorboard==1.13.1
tensorflow==1.13.1
tensorflow-estimator==1.13.0
termcolor==1.1.0
terminado==0.8.1
testpath==0.3.1
tornado==5.1.1
traitlets==4.3.2
urllib3==1.22
wcwidth==0.1.7
webencodings==0.5.1
Werkzeug==0.14.1
widgetsnbextension==3.4.2
win-inet-pton==1.0.1
wincertstore==0.2
xlrd==1.2.0
xlwt==1.3.0
